<!DOCTYPE html>
<html>

<head>
	<title>utarid/#{category_name}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/stylesheets/main.css" />
	<link rel="stylesheet" href="/stylesheets/category.css" />
	//-<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-1YB1Z3N9M7"></script>
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-1YB1Z3N9M7');

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7474448200829549" crossorigin="anonymous"></script>
</head>

<body class="single is-preload">
	<div id="wait" class="wait flex_center">
		<div id="wait_loader"></div>
		<div id="wait_loader_text" class="white"></div>
		<div id="wait_loader_time">
			<div class="values"></div>
		</div>
	</div>
	<!-- Wrapper -->
	<div id="wrapper">
		<!-- Header -->
		<header id="header">
			<h1><a href="/">#{category_name}</a></h1>
			<nav class="links">
			</nav>
		</header>
		<!-- Menu -->
		//- <section id="menu">
		//- 	<!-- Search -->
		//- 	<section>
		//- 		<form class="search" method="get" action="#">
		//- 			<input type="text" name="query" placeholder="Search" />
		//- 		</form>
		//- 	</section>
		//- 	<!-- Links -->
		//- 	<section>
		//- 		<ul class="links">
		//- 			<li>
		//- 				<a href="#">
		//- 					<h3>Lorem ipsum</h3>
		//- 					<p>Feugiat tempus veroeros dolor</p>
		//- 				</a>
		//- 			</li>
		//- 			<li>
		//- 				<a href="#">
		//- 					<h3>Dolor sit amet</h3>
		//- 					<p>Sed vitae justo condimentum</p>
		//- 				</a>
		//- 			</li>
		//- 			<li>
		//- 				<a href="#">
		//- 					<h3>Feugiat veroeros</h3>
		//- 					<p>Phasellus sed ultricies mi congue</p>
		//- 				</a>
		//- 			</li>
		//- 			<li>
		//- 				<a href="#">
		//- 					<h3>Etiam sed consequat</h3>
		//- 					<p>Porta lectus amet ultricies</p>
		//- 				</a>
		//- 			</li>
		//- 		</ul>
		//- 	</section>
		//- 	<!-- Actions -->
		//- 	<section>
		//- 		<ul class="actions stacked">
		//- 			<li><a href="#" class="button large fit">Log In</a></li>
		//- 		</ul>
		//- 	</section>
		//- </section>
		<!-- Main -->
		<div id="main">
			<!-- Post -->
			//- <article class="post">
			//- 	<header>
			//- 		<div class="category_number_div">
			//- 			<span class="category_number_span">1</span>
			//- 		</div>
			//- 		<div class="title">
			//- 			<h2><a href="single/` + data.id + `">123</a></h2>
			//- 		</div>
			//- 		<div class="meta">
			//- 			<time class="published" datetime="2020-01-01 19:25:22">ocak 1, 2020</time>
			//- 			<a href="#" class="author"><span class="name">yazar1</span><img src="images/avatar.jpg" alt=""></a>
			//- 		</div>
			//- 	</header>
			//- </article>
			//- <article class="post">
			//- 	<header>
			//- 		<div class="category_number_div">
			//- 			<span class="category_number_span">1</span>
			//- 		</div>
			//- 		<div class="title">
			//- 			<h2><a href="single/` + data.id + `">123</a></h2>
			//- 		</div>
			//- 		<div class="meta">
			//- 			<time class="published" datetime="2020-01-01 19:25:22">ocak 1, 2020</time>
			//- 			<a href="#" class="author"><span class="name">yazar1</span><img src="images/avatar.jpg" alt=""></a>
			//- 		</div>
			//- 	</header>
			//- </article>
		</div>
		<!-- Footer -->
		<section id="footer">
			<p class="copyright">tasarım: <a href="http://html5up.net">HTML5 UP</a>. logo: <a href="https://polarvectors.com">polar vectors</a>.</p>
		</section>
	</div>
	<!-- Scripts -->
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/browser.min.js"></script>
	<script src="/javascripts/breakpoints.min.js"></script>
	<script src="/javascripts/util.js"></script>
	<script src="/javascripts/main.js"></script>
	<script src="/javascripts/easytimer.min.js"></script>
	<script src="/javascripts/category_client.js"></script>
</body>

</html>
