<!DOCTYPE html>
//- <!--
//- 	Future Imperfect by HTML5 UP
//- 	html5up.net | @ajlkn
//- 	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
//- -->
<html lang = "tr">
	<head>
		<title>sitemap</title>
		<link rel="icon" type="image/png" href="/images/favicon.png">
		<link rel="stylesheet" href="/stylesheets/highlight.default.min.css">
		<script src="/javascripts/highlight.min.js"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link rel="stylesheet" href="/stylesheets/panel.css" />
		script(async).
			let url = window.location.href;
			let url_array = url.split("/");
			let article_title = url_array[url_array.length - 1];
			article_title = article_title.replace(/-/g, " ");
			document.title = article_title;
			let meta = document.createElement("meta");
			meta.setAttribute("name", "description");
			meta.setAttribute("content", article_title);
			document.head.appendChild(meta);
		
		//-<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-1YB1Z3N9M7"></script>
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-1YB1Z3N9M7');

		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7474448200829549" crossorigin="anonymous"></script>
	</head>
	<body class="single is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
					<header id="header">
						<h1><a href="/">ana sayfa</a></h1>
						<nav class="links">
						</nav>
					</header>
					<div id="main">
						<b><a href="https://utarid.org/category/linux" target="_blank">linux</a></b>
						<span>&emsp;<a href="https://utarid.org/single/linux-te-wifi-yapilandirmasi" target="_blank">linux'te wifi yapılandırması</a></span>
						<span>&emsp;<a href="https://utarid.org/single/grep-kullanimi" target="_blank">grep kullanımı</a></span>
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/db" target="_blank">db</a></b>
						<span>&emsp;<a href="https://utarid.org/single/postgresql-veritabaninda-coalesce-kullanimi" target="_blank">postgresql veritabanında coalesce kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/linuxte-mongodb-kurulumu" target="_blank">linux'te mongodb kurulumu</a></span>
						<span>&emsp;<a href="https://utarid.org/single/linuxte-postgresql-kurulumu" target="_blank">linux'te postgresql kurulumu</a></span>
						<span>&emsp;<a href="https://utarid.org/single/mysql-veritabaninda-ON-DUPLICATE-KEY-kullanimi" target="_blank">mysql veritabanında ON DUPLICATE KEY kullanımı</a></span><br />
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/web" target="_blank">web</a></b>
						<span>&emsp;<a href="https://utarid.org/single/flex-ile-html-elementini-ortalamak" target="_blank">flex ile html elementi ortalamak</a></span>
						<span>&emsp;<a href="https://utarid.org/single/heroku-uygulamasina-custom-domain-eklemek" target="_blank">heroku uygulamasına custom domain eklemek</a></span>
						<span>&emsp;<a href="https://utarid.org/single/express.js-gzip-kullanimi" target="_blank">express.js'de gzip sıkıştırma kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/seo-kurallari" target="_blank">seo kuralları</a></span>
						<span>&emsp;<a href="https://utarid.org/single/background-uretmek-icin-kullanilabilecek-web-siteleri" target="_blank">background üretmek için kullanılabilecek web siteleri</a></span>
						<span>&emsp;<a href="https://utarid.org/single/express.js'de-url-rewrite-yapmak" target="_blank">express.js'de url rewrite yapma</a></span><br />
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/java" target="_blank">java</a></b>
						<span>&emsp;<a href="https://utarid.org/single/checked-exception-ve-unchecked-exception" target="_blank">checked exception ve unchecked exception</a></span>
						<span>&emsp;<a href="https://utarid.org/single/thread" target="_blank">Thread</a></span>
						<span>&emsp;<a href="https://utarid.org/single/executor" target="_blank">Executor</a></span>
						<span>&emsp;<a href="https://utarid.org/single/executorservice" target="_blank">ExecutorService</a></span>
						<span>&emsp;<a href="https://utarid.org/single/future" target="_blank">Future</a></span>
						<span>&emsp;<a href="https://utarid.org/single/completablefuture" target="_blank">CompletableFuture</a></span>
						<span>&emsp;<a href="https://utarid.org/single/encode()-ve-decode()" target="_blank">encode() ve decode()</a></span>
						<span>&emsp;<a href="https://utarid.org/single/servlet-listenerlar" target="_blank">servlet listenerlar</a></span>
						<span>&emsp;<a href="https://utarid.org/single/auto-boxing" target="_blank">auto-boxing</a></span>
						<span>&emsp;<a href="https://utarid.org/single/java-nio-api" target="_blank">java nio api</a></span>
						<span>&emsp;<a href="https://utarid.org/single/java-io-api" target="_blank">java io api</a></span>
						<span>&emsp;<a href="https://utarid.org/single/referans-turleri" target="_blank">referans türleri</a></span>
						<span>&emsp;<a href="https://utarid.org/single/constructor-chaining" target="_blank">constructor chaining</a></span>
						<span>&emsp;<a href="https://utarid.org/single/busy-spin" target="_blank">busy spin</a></span>
						<span>&emsp;<a href="https://utarid.org/single/mapstruct-kullanimi" target="_blank">mapstruct kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/lombok-kullanimi" target="_blank">lombok kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/comparator-ve-comparable" target="_blank">comparator ve comparable</a></span>
						<span>&emsp;<a href="https://utarid.org/single/List.of-ve-Arrays.asList" target="_blank">List.of ve Arrays.asList</a></span>
						<span>&emsp;<a href="https://utarid.org/single/try-with-resources" target="_blank">try-with-resources</a></span>
						<span>&emsp;<a href="https://utarid.org/single/iterator" target="_blank">iterator</a></span>
						<span>&emsp;<a href="https://utarid.org/single/BigDecimal" target="_blank">BigDecimal</a></span>
						<span>&emsp;<a href="https://utarid.org/single/memory-allocation" target="_blank">memory allocation</a></span>
						<span>&emsp;<a href="https://utarid.org/single/optional" target="_blank">optional</a></span>
						<span>&emsp;<a href="https://utarid.org/single/concurrency" target="_blank">concurrency</a></span>
						<span>&emsp;<a href="https://utarid.org/single/generic-tipler" target="_blank">generic tipler</a></span>
						<span>&emsp;<a href="https://utarid.org/single/lambda-kullanimi" target="_blank">lambda kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/stream-api" target="_blank">stream api</a></span>
						<span>&emsp;<a href="https://utarid.org/single/dagger-kullanimi" target="_blank">dagger kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/java'da-metoda-degiskenin-referansini-vermek" target="_blank">java'da metoda değişkenin referansını vermek</a></span>
						<span>&emsp;<a href="https://utarid.org/single/secureRandom-kullanimi" target="_blank">secureRandom kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/cesitli" target="_blank">çeşitli</a></span><br />
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/java" target="_blank">spring boot</a></b>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-gateway" target="_blank">spring boot gateway</a></span>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-ta-eureka-kullanimi" target="_blank">spring boot'ta eureka kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-restTemplate" target="_blank">spring boot restTemplate</a></span>
						//- <span>&emsp;<a href="https://utarid.org/single/spring-boot-ta-guvenlik" target="_blank">spring boot'ta güvenlik</a></span>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-ta-veritabani-anotasyonlari" target="_blank">spring boot'ta veritabanı anotasyonları</a></span>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-ta-validation-yapmak" target="_blank">spring boot'ta validation yapmak</a></span>
						<span>&emsp;<a href="https://utarid.org/single/spring-boot-ta-loglama-yapmak" target="_blank">spring boot'ta loglama yapmak</a></span>
						<span>&emsp;<a href="https://utarid.org/single/exceptionHandler-kullanimi" target="_blank">@ExceptionHandler kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/primary-ve-qualifier-kullanimi" target="_blank">@Primary ve @Qualifier kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/temel-spring-boot-uygulamasi" target="_blank">temel spring boot uygulaması</a></span>
						<span>&emsp;<a href="https://utarid.org/single/event-driven-programlama" target="_blank">event-driven programlama</a></span><br />
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/programlama" target="_blank">programlama</a></b>
						<span>&emsp;<a href="https://utarid.org/single/aot-ve-jit-kavramlari" target="_blank">aot ve jit kavramları</a></span>
						<span>&emsp;<a href="https://utarid.org/single/open-closed-principle" target="_blank">open/closed principle</a></span>
						<span>&emsp;<a href="https://utarid.org/single/oop-kavramlari:-aggregation" target="_blank">oop kavramları: aggregation</a></span>
						<span>&emsp;<a href="https://utarid.org/single/oop-kavramlari" target="_blank">oop kavramları</a></span>
						<span>&emsp;<a href="https://utarid.org/single/oop-kavramlari:-composition" target="_blank">oop kavramları: composition</a></span>
						<span>&emsp;<a href="https://utarid.org/single/liskov-substitution-principle" target="_blank">liskov substitution principle</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-linked-list" target="_blank">veri yapıları: linked list</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-map" target="_blank">veri yapıları: map</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-stack" target="_blank">veri yapıları: stack</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-queue" target="_blank">veri yapıları: queue</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-array" target="_blank">veri yapıları: array</a></span>
						<span>&emsp;<a href="https://utarid.org/single/veri-yapilari:-set" target="_blank">veri yapıları: set</a></span>
						<span>&emsp;<a href="https://utarid.org/single/design-patterns" target="_blank">design patterns</a></span>
						<span>&emsp;<a href="https://utarid.org/single/oop-kavramlari:-inheritance" target="_blank">oop kavramları: inheritance</a></span>
						<span>&emsp;<a href="https://utarid.org/single/base64-encoding" target="_blank">base64 encoding</a></span>
						<span>&emsp;<a href="https://utarid.org/single/solid-prensipleri" target="_blank">solid prensipleri</a></span>
						<span>&nbsp;</span>
						<b><a href="https://utarid.org/category/mobil" target="_blank">mobil</a></b>
						<span>&emsp;<a href="https://utarid.org/single/content-provider-kullanimi" target="_blank">content provider kullanımı</a></span>
						<span>&emsp;<a href="https://utarid.org/single/runtime-izinlerin-alinmasi" target="_blank">runtime izinlerin alınması</a></span>
						<span>&nbsp;</span>
					</div>
					<section id="footer">
						<p class="copyright">tasarım: <a href="http://html5up.net">HTML5 UP</a>. logo: <a href="https://polarvectors.com">polar vectors</a>.</p>
					</section>
			</div>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/browser.min.js"></script>
			<script src="/javascripts/breakpoints.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>
			<script src="/javascripts/easytimer.min.js"></script>
	</body>
</html>
